/*

Coded by: Jason Yochim @jyo
Updated: Oct 6. 2021
Description: This is the master style guide applied to the oddsboard. This is not the theme. Just the stylizer for structure. The branded styles will sit inside the folders.

jyomaster.css - framework edits/BS edits etc.
../rushmore/theme.css - will control the look feel

*/

html,
body {
    font-family: 'Oswald', sans-serif;
    height: 100%;
    background-color: #ffffff;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
	text-shadow: none;
	padding: 0px;
	margin: 0px;
}



small {
	font-size: .85vw;
}


.innerContainer {
	height: 25vh;
	padding: calc(1em/4) calc(1em/2) calc(1em/4) 70px;
	transition: width 2s, height 1s;
}

.padding-left {
    padding-left: 6%
}

.padding-right {
    padding-right: 6%
}

.padding-top {
    padding-top: 1%
}

table {
	background-color:transparent;
	border: none;
}

td {
	padding: 1em;
}


