/*

Coded by: Jason Yochim @jyo
Updated: Sept 22. 2021
Description: Each theme file is to individually and independantly control the looks of the oddsboard.

*/


html,body {
	padding: 0px;
	margin: 0px;
}

h2 {
	font-size: 3vh; /*50" screen = 3% of vertical height. 2" fonts.*/
	margin-bottom: 0px;
	padding: 0px;
	font-weight: bold;
	color:#202020;
}

table td:first-child {
	text-align: center;
	vertical-align: middle;
}
.text-center {
	vertical-align: middle;
}
th,
td {
	text-align: left;
	vertical-align: middle;
}
.table {
	margin:0px;
	font-size: 1.1em;
	background-color: #fff;
}
.btn-primary {
	color: #fff;
	background-color: #0082fc;
	border-color: #0082fc;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: bold;
}
.bg-secondary {
	background-color: #ffffff!important;
	color:#ec0000!important;
}
.w5 {
	width: 5%;
}
.w12 { width: 10%; }
.w20 {
	width: 14%;
	text-align: center;
}
.w40 { width: 40%; }
.outerContainer {
	height: 100vh;
}
.table {
	padding: 5px!important;
}
.td {
	padding: 5px!important;
}
.tableSet {
	height: 100%;
}
.fullPageContainer {
	height: 100vh;
}
.fullPageContainer .row {
	padding: 0px;
	margin: 0px;
	min-height: 50vh;
}
.nhl {
	background-color: #fff;
	padding: 4vh 2em 2em 2em;
}
.mlb {
	background-color:#fff;
	padding: 4vh 2em 2em 2em;
}
.nfl {
	background-color:#fff;
	padding: 4vh 2em 2em 2em;
}
.ncaa {
	background-color:#fff;
	padding: 4vh 2em 2em 2em;
}

h1 {
	color: #202020;
}
.carousel {
}

.carousel-cell {
  width: 100%;
  height: 25%;
  margin-right: 0px;
  background: #efefef;
  border-radius: 0px;
  counter-increment: gallery-cell;
}

/* position dots in carousel */
.flickity-page-dots {
bottom: 5vh;
}
/* hide disabled button */
.flickity-button:disabled {
display: none;
}
/* white circles */
.flickity-page-dots .dot {
width: 12px;
height: 12px;
opacity: 1;
background: transparent;
border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
background: white;
}

header.branding {
	background-color: #ec0000;
	padding:10px;
	position: fixed;
	left:0px;
	bottom: 0vh;
	width: 60px;
	height: 100vh;
}
header.branding img {
	width: 100%;
	height: auto;
}
.oddsboardName {
	position: fixed;
	left:-3.2em;
	bottom: 5em;
	transform: rotate(-90deg);
	color: #fff;
	font-size: 1.6em;
}

.rotated {
  	transform: rotate(-90deg); /* Equal to rotateZ(45deg) */
	font-size: 20px;
	color:#fff;
	position: absolute;
	bottom:100px;
	left: 0px;
	transition: 0.25s all ease;
}

.btn .badge { margin-left: 1em;}
